.fuente {
    font-size: 12px;
    padding-right: initial;
    color: var(--ion-color-primary);
}

.noticia-more {
    font-size: 25px !important;
    position: absolute;
    right: -10px;
    top: -18px;
}

.icon-blanco {
    background-color: white;
}